<html>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
    <tr>
        <td align="center" valign="top" class="ContentHolder">
            <div id="Content">
                Hello, <b><%=Name%></b><br/>
                <p>Welcome to Bookanddine. You are about to experience awesomeness of bookanddine!
                    Just click the link below to verify your email address and continue to signup.
                    Click here to confirm your email address and signup to Bookanddine</p>
                <div style="text-align:center; margin-top: 15px; margin-bottom: 15px; width: 100% !important;">
               <span style="display: inline-block; border: 1px solid; padding:15px 15px 15px 15px; color: #4F8A10; background-color: #DFF2BF; text-align:center; font-size:18px; width: 400px;">
                  <a href="<%=Link%>">Click Here</a></span>
                </div>
                <p>This email is an automated response to your password request.</p>


            </div>
        </td>
    </tr>
</table>
</body>
</html>
